<div class="container mt-5">
  <form [formGroup]="carEditForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="carNumber"><strong>Car Number</strong></label>
      <input
        type="text"
        class="form-control"
        id="carNumber"
        formControlName="carNumber"
      />
    </div>

    <div class="form-group">
      <label for="weight"><strong>Weight</strong></label>
      <input
        type="number"
        class="form-control"
        id="weight"
        formControlName="weight"
      />
    </div>

    <div class="form-group">
      <label for="requestedDate"><strong>Requested Date</strong></label>
      <input
        type="date"
        class="form-control"
        id="requestedDate"
        formControlName="requestedDate"
      />
    </div>

    <div class="form-group">
      <label for="receivedDate"><strong>Received Date</strong></label>
      <input
        type="date"
        class="form-control"
        id="receivedDate"
        formControlName="receivedDate"
      />
    </div>

    <div class="form-group">
      <label for="extractionStartDate"><strong>Extraction Start Date</strong></label>
      <input
        type="date"
        class="form-control"
        id="extractionStartDate"
        formControlName="extractionStartDate"
      />
    </div>

    <div class="form-group">
      <label for="emptiedDate"><strong>Emptied Date</strong></label>
      <input
        type="date"
        class="form-control"
        id="emptiedDate"
        formControlName="emptiedDate"
      />
    </div>

    <div class="form-group">
      <label for="releasedDate"><strong>Released Date</strong></label>
      <input
        type="date"
        class="form-control"
        id="releasedDate"
        formControlName="releasedDate"
      />
    </div>

    <div class="form-group">
      <label for="rawMaterial"><strong>Raw Material</strong></label>
      <select
        type="number"
        class="form-control"
        id="rawMaterial"
        formControlName="rawMaterial"
      >
        <option value="1">{{ car.raw_material.material_name }}</option>
        <option value="{{ material.id }}" *ngFor="let material of rawMaterials">{{ material.material_name }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-outline-primary mt-2" [disabled]="carEditForm.invalid">Submit</button>
    <button type="button" (click)="onCancel()" class="btn btn-outline-primary mt-2 ms-2">Cancel</button>
  </form>
</div>
