<div class="container">
  <!-- Chart Cards -->
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="chartsCanvas" #chartsCanvas></canvas>
        <div class="card-body">
          <p class="card-text">Req vs. Rec'd</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="chartsCanvas2" #chartsCanvas2></canvas>
        <div class="card-body">
          <p class="card-text">Rec'd vs. Start Extract</p>
        </div>
      </div>
    </div>
    <div class="col">
    <div class="card m-2 text-bg-light h-100">
      <canvas id="chartsCanvas3" #chartsCanvas3></canvas>
      <div class="card-body">
        <p class="card-text">Rec'd vs. Empty</p>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="chartsCanvas4" #chartsCanvas4></canvas>
        <div class="card-body">
          <p class="card-text">Empty vs. Released</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Gauge Cards -->
  <div class="row row-cols-2 row-cols-md-5 g-4">
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="gauge1" #gauge1></canvas>
        <div class="card-body p-0">
          <p class="needleValue">{{ this.gaugeData.datasets[0].needleValue}}</p>
          <p class="card-text">Cars Requested</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="gauge2" #gauge2></canvas>
        <div class="card-body p-0">
          <p class="needleValue">{{ this.gaugeData.datasets[1].needleValue}}</p>
          <p class="card-text">Cars in queue for Extraction</p>
        </div>
      </div>
    </div>
    <div class="col">
    <div class="card m-2 text-bg-light h-100">
      <canvas id="gauge3" #gauge3></canvas>
      <div class="card-body p-0">
        <p class="needleValue">{{ this.gaugeData.datasets[2].needleValue}}</p>
        <p class="card-text">Cars in Extraction</p>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="gauge4" #gauge4></canvas>
        <div class="card-body p-0">
          <p class="needleValue">{{ this.gaugeData.datasets[3].needleValue}}</p>
          <p class="card-text">Cars Emptied</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <canvas id="gauge5" #gauge5></canvas>
        <div class="card-body p-0">
          <p class="needleValue">{{ this.gaugeData.datasets[4].needleValue}}</p>
          <p class="card-text">Cars Released</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Horiziontal Cards -->
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <p class="summaryValue">25</p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Avg. Days to Receive</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <p class="summaryValue">25</p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Avg. Days in Queue</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <p class="summaryValue">25</p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Avg. Days in Extraction</h5>
        </div>
      </div>
    </div>
  </div>
</div>

