<div class="container text-center">
  <div class="d-flex justify-content-evenly form-group mt-3">
    <div class="flex-fill">
      <select [(ngModel)]="selectedCompany" class="form-select" style="height:100%" (change)="filterData()">
        <option value='' selected>Choose Company</option>
        @for (item of this.company; track item){
        <option value="{{ item }}">{{ item }}</option>
        }
      </select>
    </div>
    <div class="flex-fill">
      <select [(ngModel)]="selectedItem" class="form-select" style="height:100%; margin-left: 3px" (change)="filterData()">
        <option value='' selected>Choose Raw Material</option>
        @for (item of this.materials; track item){
        <option value="{{ item.material_name }}">{{ item.material_name }}</option>
        }
      </select>
    </div>

    <div class="flex-fill d-inline-flex">
      <label class="form-label" for="startDate">Start Date: </label>
      <input class="form-control" type="date" [(ngModel)]="startDate" id="startDate" name="startDate" (change)="filterData()" required>
    </div>
    <div class="flex-fill d-inline-flex">
      <label class="form-label" for="endDate">End Date: </label>
      <input class="form-control" type="date" [(ngModel)]="endDate" id="endDate" name="endDate" (change)="filterData()" required>
    </div>
    <div class="flex-fill">
      <button class="btn btn-outline-secondary" style="height:100%; width: 75%" (click)="resetFilters()">Reset</button>
    </div>
  </div>
  <hr>
  <!-- Chart Cards -->
  <div class="row row-cols-2 row-cols-md-4 g-4 mt-3 justify-content-between">
    <div class="card m-2 text-bg-light h-100">
      <canvas id="chartsCanvas" #chartsCanvas></canvas>
    </div>
    <div class="card m-2 text-bg-light h-100">
      <canvas id="chartsCanvas1" #chartsCanvas1></canvas>
    </div>
    <div class="card m-2 text-bg-light h-100">
      <canvas id="chartsCanvas2" #chartsCanvas2></canvas>
    </div>
    <div class="card m-2 text-bg-light h-100">
      <canvas id="chartsCanvas3" #chartsCanvas3></canvas>
    </div>
  </div>
  <hr>
  <!-- Gauge Cards -->
  <div class="row row-cols-2 row-cols-md-5 g-4 mb-4">
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <div class="card-body p-0">
          <p>Unreceived: </p>
          <p><span class="needleValue">{{ this.totalUnreceivedCars }}</span></p>
          <p class="card-text">Weight: (lbs)</p> <div class="needleValue">{{ this.currentWeightRequested }}</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <div class="card-body p-0">
          <p>In Queue: </p>
          <p><span class="needleValue">{{ this.totalInQueueCars }}</span></p>
          <p class="card-text">Weight: (lbs)</p> <div class="needleValue">{{ this.currentWeightInQueue }}</div>
        </div>
      </div>
    </div>
    <div class="col">
    <div class="card m-2 text-bg-light h-100">
      <div class="card-body p-0">
        <p>Extracting: </p>
        <p><span class="needleValue">{{ this.currentExtractingCars }}</span></p>
        <p class="card-text">Weight: (lbs)</p> <div class="needleValue">{{ this.currentWeightExtracting }}</div>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <div class="card-body p-0">
          <p>Emptied: </p>
          <p><span class="needleValue">{{ this.currentEmptyCars}}</span></p>
          <p class="card-text">Weight: (lbs)</p> <div class="needleValue">{{ this.currentWeightEmptied}}</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-2 text-bg-light h-100">
        <div class="card-body p-0 mt-5" >
          <p>Released: </p><p><span class="needleValue">{{ this.currentReleasedCars }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Horiziontal Cards -->
  <div class="row row-col-2 row-col-md-3 justify-content-between g-4 mt-2">
    <div class="card mb-3" style="max-width: 350px">
      <div class="row g-0">
        <div class="col-md-6">
          <p class="summaryValue">{{ this.avgDaysToReceive }}</p>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Avg. Days to Receive</h5>
            <small>(of received cars)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 350px">
      <div class="row g-0">
        <div class="col-md-6">
          <p class="summaryValue">{{ this.avgDaysInQueue }}</p>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Avg. Days in Queue</h5>
            <small>(of cars out of queue)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 350px">
      <div class="row g-0">
        <div class="col-md-6">
          <p class="summaryValue">{{ this.avgDaysInExtraction }}</p>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Avg. Days in Extraction</h5>
            <small>(of cars finished extracting)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

