<html>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <body>
    <div class="container">
      <h3>List of Rail Cars</h3>
      <div class="d-flex justify-content-between mb-3">
        <a class="btn btn-outline-primary" routerLink="/cars/new"
          >Add Car</a
        >
        <form
          class="d-flex"
          role="search"
          [formGroup]="orderSearch"
          (ngSubmit)="onSubmit()"
        >
          <input
            class="form-control me-2 "
            type="search"
            placeholder="Search"
            aria-label="Search"
            id="orderSearchForm"
            formControlName="orderSearchForm"
            required
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            [disabled]="orderSearch.invalid"
          >
            Search
          </button>
        </form>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('car_number')"
              >
                Car
              </th>
              <th scope="col" class="sort-header" (click)="sortData('weight')">
                Weight (lbs)
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('received_date')"
              >
                Requested
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('received_date')"
              >
                Received
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('extraction_start_date')"
              >
                Extraction Date
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('emptied_date')"
              >
                Emptied
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('released_date')"
              >
                Released
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('raw_material')"
              >
                Raw Material
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (car of cars; track car.id) {
            <tr>
              <!-- <td>{{ car.car_number }}</td> -->
              <td>{{ car.car_number }}</td>
              <td>{{ car.weight }}</td>
              <td>{{ car.requested_date || "-" }}</td>
              <td>{{ car.received_date || "-" }}</td>
              <td>{{ car.extraction_start_date || "-" }}</td>
              <td>{{ car.emptied_date || "-" }}</td>
              <td>{{ car.released_date || "-" }}</td>
              <td>{{ car.raw_material.material_name }}</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  (click)="onEditCar(car.id)"
                  >Edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                  (click)="onDeleteCar(car.id)"
                >
                  delete
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
