<p>car-list works!</p>
<html>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <body>
    <div class="container">
      <h3>List of Rail Cars</h3>
      <div>
        <a class="btn btn-outline-primary" routerLink="/cars/new">Add Car</a>
      </div>
      <div>
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('carNumber')"
              >
                Car
              </th>
              <th scope="col" class="sort-header" (click)="sortData('weight')">
                Weight (lbs)
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('receivedDate')"
              >
                Requested
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('receivedDate')"
              >
                Received
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('extractionStartDate')"
              >
                Extraction Date
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('emptiedDate')"
              >
                Emptied
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('releasedDate')"
              >
                Released
              </th>
              <th
                scope="col"
                class="sort-header"
                (click)="sortData('rawMaterial')"
              >
                Raw Material
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (car of cars; track car.id) {
            <tr>
              <!-- <td>{{ car.carNumber }}</td> -->
              <td>{{ car.weight }}</td>
              <td>{{ car.requestedDate }}</td>
              <td>{{ car.receivedDate }}</td>
              <td>{{ car.extractionStartDate }}</td>
              <td>{{ car.emptiedDate }}</td>
              <td>{{ car.releasedDate }}</td>
              <td>{{ car.rawMaterial }}</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  (click)="onEditCar(car.id)"
                  >Edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                  (click)="onDeleteCar(car.id)"
                >
                  delete
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<!--

  <tbody>
            <tr>
              <td>VTGX017400</td>
              <td>185,214</td>
              <td>5/6/2024</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>Corn Syrup</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  >Edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                  >Delete</a
                >
              </td>
            </tr>
            <tr>
              <td>UTLX064972</td>
              <td>185,215</td>
              <td>05/06/2024</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>Sucralose</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  >edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                >
                  delete
                </a>
              </td>
            </tr>
            <tr>
              <td>UTLX601220</td>
              <td>185,145</td>
              <td>4/15/2024</td>
              <td>4/18/2024</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>AMS</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  >edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                >
                  delete
                </a>
              </td>
            </tr>
            <tr>
              <td>GATX004461</td>
              <td>185,210</td>
              <td>4/15/2024</td>
              <td>4/19/2024</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>Corn Syrup</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  >edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                >
                  delete
                </a>
              </td>
            </tr>
            <tr>
              <td>UTLX601250</td>
              <td>185,315</td>
              <td>4/15/2024</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>Sucralose</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  >edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                >
                  delete
                </a>
              </td>
            </tr>
            <tr>
              <td>UTLX600085</td>
              <td>185,132</td>
              <td>4/15/2024</td>
              <td>4/17/2024</td>
              <td>None</td>
              <td>None</td>
              <td>None</td>
              <td>AMS</td>
              <td>
                <a
                  class="material-symbols-outlined"
                  edit
                  data-toggle="popover"
                  title="Edit"
                  data-placement="left"
                  >edit</a
                >
                <a
                  class="material-symbols-outlined"
                  delete
                  data-toggle="popover"
                  title="Delete"
                  data-placement="right"
                >
                  delete
                </a>
              </td>
            </tr>
          </tbody>
 -->
